@import "_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


main {
  max-width: 900px;
}

header {
  max-width: 800px;
}

.form-control {
  max-width: 25rem;
  background-color: #fff;
}

.card {
  max-width: 25rem;
  min-width: 18rem;
}

.profile-picture {
  max-height: 250px;
}

.btn-primary:hover {
background-color: $info;
color: $dark;
}

