@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  --card-width: 25rem;
}

main {
  max-width: 900px;
}

header {
  max-width: 800px;
}

.form-control {
  max-width: var(--card-width);
  background-color: #fff;
}

.card {
  max-width: var(--card-width);
  min-width: 18rem;
}

.profile-picture {
  max-height: 250px;
}

.btn-primary:hover {
background-color: $info;
color: $dark;
}

